[submodule "src/modules/Eluna"]
	path = src/modules/Eluna
	url = https://github.com/ElunaLuaEngine/Eluna.git
[submodule "modules/mod-reagent-bank"]
	path = modules/mod-reagent-bank
	url = https://github.com/WrkX/mod-reagent-bank.git
	branch = main
